@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Francois+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&family=Great+Vibes&family=Pattaya&display=swap");

body {
  margin: 0 auto;
}

.mainPage {
  margin-top: -17px;
  display: flex;
}

.container {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-image: url(../img/mereEnfant.jpg);
  background-size: cover;
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3431eb, #120fd6);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

nav li {
  margin-left: -27px;
}

ul a {
  text-decoration: none;
}

.button {
  list-style-type: none;
  min-width: 200px;
  min-height: 50px;
  font-family: "Dancing Script", cursive;
  font-size: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4fd1c5;
  background: linear-gradient(
    90deg,
    rgba(129, 230, 217, 1) 0%,
    rgba(79, 209, 197, 1) 100%
  );
  border: none;
  border-radius: 1000px;
  box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 5px;
  margin-top: 35px;
}

nav li::before {
  content: "";
  border-radius: 1000px;
  min-width: calc(250px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00ffcb;
  box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.3s ease-in-out 0s;
}

.button:hover,
.button:focus {
  color: #313133;
  transform: translateY(-6px);
}

nav li:hover::before,
nav li:focus::before {
  opacity: 1;
}

nav li::after {
  content: "";
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid rgb(231, 29, 130);
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: ring 1.5s infinite;
}

nav li:hover::after,
nav li:focus::after {
  animation: none;
  display: none;
}

.container svg {
  display: block;
  position: relative;
  bottom: -28rem;
}

.balloon1 {
  display: inline-block;
  position: relative;
  top: -150px;
  min-height: 16em;
  min-width: 16em;
  background: transparent;
  text-align: center;
  font-family: "Francois One", sans-serif;
}

.balloon1:before,
.balloon1:after {
  position: absolute;
  content: "";
  left: 70px;
  top: -60px;
  width: 70%;
  height: 90%;
  background-color: #f56dc3;
  border-radius: 100px 100px 0 0;
  transform: rotate(-50deg);
  transform-origin: 92% 100%;
}
.balloon1:after {
  left: 0;
  transform: rotate(50deg);
  transform-origin: 8% 100%;
}

.balloon-container1 {
  animation: balloonmove 20s ease-in-out infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes balloonmove {
  0%,
  100% {
    transform: translateY(100%);
  }
  90% {
    transform: translateY(0%);
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
    background: linear-gradient(rgb(230, 129, 225) 0%, rgb(231, 29, 130) 100%);
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
    background: linear-gradient(
      90deg,
      rgba(129, 230, 217, 1) 0%,
      rgba(79, 209, 197, 1) 100%
    );
  }
}

@media all and (min-width: 320px) and (max-width: 405px) {
  .container {
    height: 78vh;
  }
}

@media all and (min-width: 410px) and (max-width: 615px) {
  .container {
    height: 65vh;
  }
}

@media all and (min-width: 700px) and (max-width: 1023px) {
  .container {
    height: 60vh;
  }
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
  .container {
    height: 48vh;
  }
}

#mainPage2__header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow-left {
  position: absolute;
  display: inline-block;
  font-size: 2rem;
  margin-left: -155px;
  margin-top: 15px;
  color: black;
}

@media screen and (min-width: 904px) {
  .arrow-left {
    display: none;
  }
}

.texte-mere {
  display: flex;
  justify-content: center;
}

.texte-mere p {
  line-height: 30px;
  font-size: 1.86em;
  /* font-family: "Pattaya", sans-serif; */
  /* font-family: "Dancing Script", cursive; */
  font-family: "Great Vibes", cursive;
}
