body {
  margin: 0 auto;
}

.mainPage {
  margin-top: -17px;
  display: flex;
}

.container {
  position: relative;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-image: url(../img/mereEnfant.jpg);
  background-size: cover;
  /* background: linear-gradient(to left, #fc5296, #f67062); */
}

.overlay {
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #fc5296, #fe28a2);
  opacity: 0.5;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
}

nav li {
  list-style-type: none;
}

.container svg {
  display: block;
  position: relative;
  bottom: -28rem;
}

@media all and (min-width: 320px) and (max-width: 405px) {
  .container {
    height: 78vh;
  }
}

@media all and (min-width: 410px) and (max-width: 615px) {
  .container {
    height: 65vh;
  }
}

@media all and (min-width: 700px) and (max-width: 1023px) {
  .container {
    height: 60vh;
  }
}

@media all and (min-width: 1024px) and (max-width: 1400px) {
  .container {
    height: 48vh;
  }
}

/* .container::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, #fc5296, #f67062);
  border-radius: 0% 0% 50% 50%;
  transform: scaleY(1.2);
  opacity: 0.3;
}

.container::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: linear-gradient(to left, #fc5296, #f67062);
  z-index: -1;
  border-radius: 0% 0% 50% 50%;
  transform: scaleX(1);
} */
